<h1>Add a new Cat!</h1>


<form action="/cats" method="post">

    <label for="name">Name</label>
    <input id="name" type="text" name="cat[name]">

    <label for="birth_date">Birth Date</label>
    <input id="birth_date" type="date" name="cat[birth_date]">

    <label for="color">Color</label>
    <input id="color" type="text" name="cat[color]">

    <input type="submit" value="Add a new Cat!">

</form>